.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(27, 26, 26, 0.192);
  z-index: 6;
}
.login_username_input,
.login_username_password_input {
  width: 100%;
  border: 2px solid rgba(22, 22, 22, 0.815);
  margin: 6px 0;
  background-color: transparent;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  color: rgba(279, 275, 275, 0.492);
}
.login_btn {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid rgba(22, 22, 22, 0.815);
  width: 100%;
  color: rgba(279, 275, 275, 0.492);
  border-radius: 5px;
}
.login_btn:hover {
  background-color: rgba(279, 275, 275, 0.492);
  color: rgba(79, 75, 75, 0.592);
  cursor: pointer;
}
